@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*


{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body
{
    background:  linear-gradient(-30deg, #33ccff,#81d5ff ,#ffccff,#81d5ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before
{
    content: '';
    position: absolute;
    left: 8%;
    bottom: 2%;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,.5);
    animation: zigzag2 3s linear infinite;
}

@keyframes zigzag2
{
    0%,100%
    {
        transform: translateX(50px);

    }

    50%
    {
        transform: translateX(100px) scale(.8);

    }
}

body::after
{
    content: '';
    position: absolute;
    left: 92%;
    top: 12%;
    z-index: -1;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,.5);
    animation: zigzag 3s linear infinite;
}

@keyframes zigzag
{
    0%,100%
    {
        transform: translateY(50px);

    }

    50%
    {
        transform: translateY(100px) scale(.8);

    }
}
body #sidecontainer
{
    border-radius: 3%;
    width: 90%;
    height: 85vh;
    background: rgba(255,255,255,.4);
    backdrop-filter: blur(5px);
}

.container .navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
    margin-top: 1em;
}

.container .navbar .logo
{
    display: flex;
    align-items: center;
}

.container .navbar .logo img
{
    animation: rotate 8s linear infinite;
}

@keyframes rotate
{
    from
    {
        transform: rotate(-360deg);
    }
}

.container .navbar .logo .logoname
{
    font-size: 18px;
    text-transform: uppercase;
    margin-left: .5em;
    color: #000;
    text-shadow: 1px 1px 1px rgba(16,16,16,.1),
    1px 2px 1px rgba(16,16,16,.2),
    1px 3px 1px rgba(16,16,16,.1),
    1px 4px 1px rgba(16,16,16,.2),
    1px 5px 1px rgba(16,16,16,.1),
    1px 6px 1px rgba(16,16,16,.2);
}

.searchbox
{
    position: relative;
}

.searchbox input
{
    padding: 8px 120px 8px 20px ;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: .3s;
}

.searchbox input:focus
{
    padding: 8px 250px 8px 20px ;
}

.searchbox .fa
{
    position: absolute;
    top: 10px;
    right: 10px;
}


.container .navbar .navitem
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitem .lang select
{
    padding: 6px 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    right: 4em;
}


.navitem .icons
{
    position: relative;
    right: 1em;
}

.navitem .icons ul li
{
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin: 0 12px;
}

.navitem .icons ul li .fa
{
    padding: 5px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    transition: .3s;
}


.navitem .icons ul li .fa:hover
{
    transform: scale(1.2) rotate(360deg);
    color: #33cc33;
    background: transparent
}

.navitem .account
{
    position: relative;
    display: flex;
    align-items: center;
}

.navitem .account img
{
    border-radius: 50%;
}

.navitem .account .name
{
    text-transform: capitalize;
    margin: 0 8px;
    font-weight: 700;
}

.navitem .account .username
{
    position: absolute;
    top: 18px;
    left: 32px;
    font-size: 12px;
    color: #000;
}

.container-body
{
    display: grid;
    grid-template-columns: 18% auto;
}

.container-body .sidebar
{
    margin: 20px 0 20px 20px;

    border-radius: 14px;
    padding: 10px;
}



.container-body .main-body .headtittle
{
    padding: 15px;
    margin: 20px;
    margin-bottom: 0;
}

.container-body .main-body .headtittle span
{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
}

.container-body .main-body .headtittle  h2
{
    font-size: 25px;
    font-weight: normal;
}

.container-body .main-body .cards
{
    display: grid;
    grid-template-rows:  180px 140px;
    grid-gap: 20px;
    padding: 20px;
}

.container-body .main-body .cards .row-1
{
    display: grid;
    grid-template-columns:  30% 40% auto;
    grid-gap: 20px;
}

.container-body .main-body .cards .row-2
{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 20px;
    height: 100px;
}

.container-body .main-body .cards .row .col
{
    background: rgba(255,255,255,.5);
    border-radius: 15px;
}

.container-body .main-body .cards .row .col .cardtittle
{
    font-size: 16px;
    padding: 20px;
    text-transform: capitalize;
}

.balance-card
{
    position: relative;
}

.balance-card h2
{
    font-size: 28px;
    padding: 10px 20px;
}


.balance-card span
{
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    color: #33cc33;
}

.balance-card img
{
    position: absolute;
    top: 5em;
    left: 14em;
}

.debit-card
{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 18px;
    background: #33ccff;
    color: #fff;
}

.debit-card .cardnumber
{
    font-size: 18px;
    padding:  10px 20px;
    padding-right: 0;
    background: rgba(255,255,255,.6);
    color: #000;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(16,16,16,.1),
    1px 2px 1px rgba(16,16,16,.1),
    1px 3px 1px rgba(16,16,16,.1),
    1px 4px 1px rgba(16,16,16,.1),
    1px 5px 1px rgba(16,16,16,.1) ;

}

.debit-card .cardholder
{
    font-size: 18px;
    padding: 20px;
    font-weight: normal;
}

.col .t-i, .p-i, .u-i, .i-s
{
    font-size: 25px;
    font-weight: 700;
    padding: 20px 5px 20px 20px;
}

.col .status
{
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 6px;
    color: #fff;
    position: relative;
    bottom: 3px;
}

.total-invoice  .status
{
    font-weight: 700;
    color: #339933;
    font-size: 16px;
    padding-left: 5px;
}


.paid-invoice .status
{
    background: #0066cc;
}

.unpaid-invoice .status
{
    background: #ff0066;
}

.invoice-sent .status
{
    background: #ffcc00;
}

/*Total table*/
.total-table {
    margin-top: -8%;
    border-radius: 3%;
    background-color: rgba(255,255,255,.5);
    border-collapse: collapse;
    box-shadow: 0 5px 10px clr-gray300;
    font-family: sans-serif;
    text-align: left;
    overflow: hidden;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td {
    padding: 1rem 2rem;
}

a {

    text-decoration: none;
    color: clr-link;
}

/*Category Product Item*/
.card {
    height: 42%;
    width: 18%;
    position: relative;
    box-shadow:1px 1px 10px grey ;
    text-align: center;
    margin: 1%;
    background: linear-gradient(-20deg, white 60%, #77a6a7 10%);

}

#profile {
    padding-top: 2%;
    width: 90%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    transition: 2s;
}

.info {
    color: #77a6a7;
    transform: translateY(30%);

}

h2{
    font-size: large;
}

h4 {
    font-size: small;
}

.bkg {
    width: 100%;
    height: 25%;
    background: #77a6a7;
    position: absolute;
    z-index: 2;
    top: 10%;
    transition: 2s;

}

.description {
    width: 75%;
    margin: 0% auto;
    font-family: sans-serif;
    padding-top: 40%;
    opacity: 0;
}

.social {
    display: flex;
    justify-content: left;
    position: absolute;
    bottom: 12px;
    padding-left: 10%;
    z-index: 3;
}

.social img {
    width: 15%;
    height: 15%;
}

.social p {
    font-family: sans-serif;
    font-size: medium;
    transform: translate(20%, 60%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.social p#firstp {
    font-family: sans-serif;
    font-size: medium;
    transform: translate(20%, 25%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    transition: 1.5s ;
}

.social p#secondp {
    font-family: sans-serif;
    font-size: medium;
    transform: translate(-90%, 15%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
    opacity: 1;
}


.card:hover {
    background: whitesmoke;

}

.card:hover #profile {
    transform: translate(-52%, 3%);
    width: 46%;
}

.card:hover .info {
    transform: translate(24%, -150%);
    color: tan;
}

.card:hover .bkg {
    background: #ffccbc;
    top:75%;

}

.card:hover .description {
    opacity: 1;
    transform: translateY(-70%);

}

.card:hover .social p#firstp {
    opacity: 1;
}

.card:hover .social p#secondp {
    opacity: 0;
}

/*Multi Form*/
.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    overflow: hidden;
    min-width: 60vw;
    padding-top: 20px;
    padding-bottom: 10px;
}

::selection{
    color: #fff;
    background: #d43f8d;
}

.main-body #multiformcontainer{
    width: 340px;
    background: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 20px 35px 0px 35px;
    background: rgba(255,255,255,.4);
    backdrop-filter: blur(5px);
    font-family: Crimson Text;
    margin-top: 50px;

}

.container header{
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 30px 0;
    padding-top: -20px;
}
.container .form-outer{
    width: 100%;
    overflow: hidden;
}
.container .form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title{
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    font-weight: bold;
}

.form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
    font-size: 16px;
}
form .page .field input{
    height: 96%;
    width: 96%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
}
form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #00004d;
    margin-top: -5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
form .page .field button:hover{
    background: #00004d;
}
form .page .btns button{
    margin-top: -6px!important;
}
form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next{
    margin-left: 3px;
}
.container .progress-bar{
    display: flex;
    margin: 30px 0;
    user-select: none;
}
.container .progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;

}
.container .progress-bar .step p{
    font-weight: 500;
    font-size: 14px;
    color: #00004d;
    margin-bottom: 8px;
}
.progress-bar .step .bullet{
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.progress-bar .step .bullet.active{
    border-color: #00004d;
    background: #00004d;
}
.progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}


.progress-bar .step .bullet.active:after{
    background: #00004d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}


@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}


.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}

.progress-bar .step p.active{
    color: #00004d;
    transition: 0.2s linear;
    font-weight: bold;
}

.progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 12px;
    transform: translate(-50%, -50%);
    display: none;
}


.progress-bar .step .check.active{
    display: block;
    color: #fff;
}

#shipper {
    width: 300px;
    height: 300px;
    transform: translateX(70px);
    transform: translateY(130px);
}

#receiver {
    width: 300px;
    height: 300px;
    transform: translateX(70px);
    transform: translateY(130px);
}