@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
/*Multi Form*/
.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    overflow: hidden;
    min-width: 60vw;
    padding-top: -100px;
    padding-bottom: 10px;
}

::selection{
    color: #fff;
    background: #d43f8d;
}

.main-body #multiformcontainer{
    width: 340px;
    background: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 20px 35px 0px 35px;
    background: rgba(255,255,255,.4);
    backdrop-filter: blur(5px);
    font-family: Crimson Text;
    margin-top: 50px;
    width: 330px;
    height: 450px;
    transform: translateY(-20px);

}

.container header{
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 30px 0;
    padding-top: -20px;
}
.container .form-outer{
    width: 100%;
    overflow: hidden;
}
.container .form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title{
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    font-weight: bold;
}

.form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
    font-size: 16px;
}
form .page .field input{
    height: 96%;
    width: 96%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
}
form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #00004d;
    margin-top: -5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
form .page .field button:hover{
    background: #00004d;
}
form .page .btns button{
    margin-top: -6px!important;
}
form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next{
    margin-left: 3px;
}
.container .progress-bar{
    display: flex;
    margin: 30px 0;
    user-select: none;
}
.container .progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;

}
.container .progress-bar .step p{
    font-weight: 500;
    font-size: 14px;
    color: #00004d;
    margin-bottom: 8px;
}
.progress-bar .step .bullet{
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.progress-bar .step .bullet.active{
    border-color: #00004d;
    background: #00004d;
}
.progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}


.progress-bar .step .bullet.active:after{
    background: #00004d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}


@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}


.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}

.progress-bar .step p.active{
    color: #00004d;
    transition: 0.2s linear;
    font-weight: bold;
}

.progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 12px;
    transform: translate(-50%, -50%);
    display: none;
}


.progress-bar .step .check.active{
    display: block;
    color: #fff;
}

#shipper {
    width: 300px;
    height: 300px;
    transform: translateX(70px);
    transform: translateY(130px);
}

#receiver {
    width: 300px;
    height: 300px;
    transform: translateX(70px);
    transform: translateY(130px);
}